*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.ancora:hover{
    cursor: pointer;
}

html{
    scroll-behavior: smooth !important;
}

h1, h2, h4{
    color: orange !important;
}

.containerGeral{
    width: 100vw;
    min-height: 100vh;
}

.navegacao{
    background-color: #FFC107!important; 
    height: auto;
}

.navegacao a:hover{
    background-color: rgb(47, 45, 44);
    border-radius: 8px;
    color: white !important;
    transition: all 0.3s;
}

#btnEntrarEmContato {background-color: #f5f5f5!important}

#btnEntrarEmContato:hover{
    background-color: rgb(47, 45, 44) !important;
}

.boxPrimeiraPagina{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 80vh !important; 
}

.primeiraPagina{
    background-color: white;
    border-radius: 10px;
    width: 97vw;
    min-height: 75vh;
}

.primeiraPagina img{
    max-width: 70vw !important;
}

.capaImagem{
    width: 50vw;
    height: auto;
}

.capaImagem img{
    max-width: 100%;
    border-radius: 8px;
}

.capaFrase h1{font-size: 4rem}

.capaFrase h2{
    font-size: 3rem;
    letter-spacing: 2px;
}

.quemSomos{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: "50vw 50vw";
    grid-template-areas: "quemSomosTitulo quemSomosTitulo"
                         "quemSomosImagem quemSomosDescricao";
    width: 100vw;
    gap: 5px;
    min-height: 100vh;
}

.quemSomosTitulo{
    grid-area: quemSomosTitulo;
    width: 100vw;
    max-height: 2rem;
}

.quemSomosImagem{
    grid-area: quemSomosImagem;
    width: 45vw;
    max-height: 65vh;
}

.quemSomosImagem img{
    border-radius: 5px;
    max-height: 100%;
}

.quemSomosDescricao{
    grid-area: quemSomosDescricao;
    width: 40vw;
    min-height: 65vh;
}

.quemSomosDescricao p{
    font-size: 0.9rem;
    line-height: 2rem;
}

.quemSomosDescricao button{
    background-color: #FFA500 !important;
}

.nossaHistoria{
    scroll-margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

.historicoTextos{
    width: 45vw;
}

.historicoTextos p{
    line-height: 2.25rem;
}

.historicoImagem{
    width: 45vw;
    height: auto;
}

.historicoImagem img{
    max-width: 100%;
    border-radius: 0.375rem;
}

.saberMais{
    display: grid;
    grid-template-columns: "33% 33% 33%";
    grid-template-rows: auto;
    grid-template-areas: "saberMaisTitulo saberMaisTitulo saberMaisTitulo"
                         "saberMaisMissaoObjetivos saberMaisEstrategias saberMaisImpactosResultados"
                         "ancora ancora ancora";
    width: 100vw;
    gap: 0.5rem;
    min-height: 100vh;
}

.saberMaisTitulo{
    grid-area: saberMaisTitulo;
    width: 100vw;
    max-height: 2rem;
}

.saberMaisMissaoObjetivos{
    grid-area: saberMaisMissaoObjetivos;
    width: 30vw;
    min-height: 70vh;
}

.saberMaisMissaoObjetivos p,
.saberMaisEstrategias p,
.saberMaisImpactosResultados p{
    line-height: 2rem;
}

.saberMaisEstrategias{
    grid-area: saberMaisEstrategias;
    width: 30vw;
    min-height: 70vh;
}

.saberMaisImpactosResultados{
    grid-area: saberMaisImpactosResultados;
    width: 30vw;
    min-height: 70vh;
}

.ancora{
    grid-area: ancora;
    width: 100vw;
    max-height: 2rem;
}

.bannerAprendizadoMusical{
    background-color: #6495ed;
    width: 100vw;
    min-height: 100vh;
}

.bannerAprendizadoMusical h3{
    line-height: 3rem;
    letter-spacing: 0.25rem;
}

.aprendizadoMusical img{
    width: 20vw;
}

#btnProjetoAbracoPercussivo{
    letter-spacing: 0.2rem;
    font-weight: 600 !important;
    border-radius: 25px;
    padding: 1rem 1.5rem;
    text-shadow: 0.5px 0.5px 0.5px black;
}

#btnProjetoAbracoPercussivo:hover{
    transform: scale(1.05);
    transition: all 0.4s;
}

.projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.projetos p{
    font-weight: 400;
}

.projetos img{
    max-width: 50%;
}

.projetoIdentidadeSequestra{
    background-color: #2333c4 !important;
}

.sejaApoiador{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('/img/jovem3.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 95vh;
}

.sejaApoiador p{
    width: 70%;
    margin-top: 20rem !important;
    font-size: 2.5rem;
    color: white;
}

.sejaApoiador button{
    background-color: whitesmoke;
    border-radius: 10px;
}

.formulario{
    width: 60vw;
    min-height: 70vh;
}

.formulario button{
    background-color: #6495ed !important;
}

.rodape{
    display: grid;
    grid-template-columns: "50vw 50vw";
    grid-template-rows: auto;
    grid-template-areas: "rodapeEsquerdo rodapeMenu"
                         "rodapeCreditosFinais rodapeCreditosFinais";
    background-color: rgb(49, 46, 46);
    width: 100vw;
    gap: 0.3125rem;
    min-height: 10rem;
    margin-top: 1rem;
}

.rodape h6, 
.rodape a,
.rodapeLinksMenu a{
    color: rgb(188, 188, 159) !important;
    font-size: 0.9rem;
    font-weight: 200;
}

.rodapeLinksMenu a:hover,
.rodapeMidias i:hover,
.rodape a:hover{
    cursor: pointer;
    text-decoration: none;
    color: #FFA500 !important;
}

.rodape i{
    color: rgb(216, 200, 181);
    font-size: 1.4rem;
}

.rodapeMidias,
.rodapeLinksMenu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodapeEsquerdo{
    grid-area: rodapeEsquerdo;
    width: 40vw;
    min-height: 4rem;
}

.rodapeMenu{
    grid-area: rodapeMenu;
    width: 40vw;
    min-height: 4rem;
}

.rodapeCreditosFinais{
    grid-area: rodapeCreditosFinais;
    width: 100vw;
    height: 2rem;
}



/*Resolução até dispositivos de 480px*/
@media screen and (max-width: 40rem) {
    .ancora{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
    .navegacao a:hover{
        padding-left: 0.75rem;
    }
    .navegacao a,
    .navegacao button{
        margin-top: 0.5rem !important;
        margin-left: 0 !important;
    }
    .boxPrimeiraPagina{
        min-height: 960px;
    }
    .primeiraPagina{
        max-width: 100vw;
        min-height: 70vh !important;
    }
    .capaImagem{
        width: 100vw !important;
        height: auto !important;
    }
    .capaImagem img{
        max-width: 100% !important;
        height: auto !important;
        margin: 1rem auto !important;
    }
    .capaFrase h1{
        font-size: 3rem;
    }
    .capaFrase h2{
        font-size: 1.5rem;
    }
    .quemSomos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
    }
    .quemSomos button{
        display: block;
        margin: 1rem auto;
        width: 80vw;
    }
    .quemSomosImagem{
        margin: 0.3rem auto !important;
        width: 99vw;
    }
    .quemSomosDescricao{
        margin: 0.3rem auto !important;
        width: 99vw;
    }
    .nossaHistoria,
    .historicoTextos{
        width: 100vw;
        margin: 0 auto;
        height: auto;
    }
    .historicoTextos p{
        font-size: 0.9rem;
        line-height: 1.85rem;
    }
    .historicoImagem{

        width: auto !important;
        height: auto !important;
        overflow-y: hidden !important;
    }
    .historicoImagem img{
        height: auto !important;
        max-width: 90% !important;
        margin: 0 auto;
    }
    .projetos{
        flex-direction: column;
        margin: 1rem auto;
        overflow: hidden;
    }
    .projetos img{
        max-width: 90vw;
    }
    .projetos p{
        font-size: 1rem;
    }
    .projetos h2{
        font-size: 2rem;
    }
    #saberMais a{
        width: 80vw !important;
    }
    .saberMais{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        margin: 0 auto;
        width: 100vw;
    }
    .saberMaisEstrategias,
    .saberMaisMissaoObjetivos,
    .saberMaisImpactosResultados{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
        width: 100vw !important;
        margin: 0.5rem auto !important;
        height: auto !important;
    }
    .saberMais h4,
    .saberMais h5{
        text-align: center !important;
        margin: 0 auto;
    }
    .saberMais p{
        font-size: 0.9rem;
        line-height: 1.75rem;
    }
    .saberMais img{
        margin: 0.5rem auto !important;
    }
    .aprendizadoMusical img{
        max-width: 80%;
        overflow: hidden;
    }
    .aprendizadoMusical h3{
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    .aprendizadoMusical button{
        width: 80vw !important;
        margin: 1rem auto !important;
    }
    .sejaApoiador{
        height: auto;
    }
    .sejaApoiador p{
        font-size: 1.5rem;
        width: 90%;
    }
    .formulario,
    form{
        width: 100vw !important;
    }

    .rodape{
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 16rem;
    }
    .rodapeCreditosFinais,
    .rodapeEsquerdo,
    .rodapeLinksMenu,
    .rodapeMidias,
    .rodapeMenu{
        width: 100vw;
        margin: 0 auto !important;
    }

    .rodapeMenu a{
        font-size: 0.7rem !important;
        margin: 0 auto !important;
    }

}

