*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: rgb(240, 231, 231);
}

.box_principal{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card-body{
    background-color: white !important;
    text-align: justify;
}
